set imap_user = "jakub.matraszek@gmail.com"
set imap_pass = "********"

set smtp_url = "smtp://jakub.matraszek@smtp.gmail.com:587/"
set smtp_pass = "********"
set from = "jakub.matraszek@gmail.com"
set realname = "Jakub Matraszek"

set folder = "imaps://imap.gmail.com:993"
set spoolfile = "+INBOX"
# set record="+[Gmail]/Sent"
# set postponed="+[Gmail]/Drafts"
# set trash = "imaps://imap.gmail.com/[Gmail]/Trash"

set header_cache=~/.mutt/cache/headers
set message_cachedir=~/.mutt/cache/bodies
set certificate_file=~/.mutt/certificates

set move = no


set editor="vim -c 'set tw=70 et' '+/^$' "
set edit_headers=yes      # See the headers when editing
mailboxes =INBOX

set sort = 'threads'
set sort_aux = 'last-date-received'
set imap_check_subscribed

ignore "Authentication-Results:"
ignore "DomainKey-Signature:"
ignore "DKIM-Signature:"
hdr_order Date From To Cc


#SIDEBAR
set sidebar_width=22
set sidebar_visible=yes
set sidebar_delim='|'
set sidebar_sort=yes

bind index,pager \CP sidebar-prev
bind index,pager \CN sidebar-next
bind index,pager \CO sidebar-open


# COLORS
# source $HOME/.mutt/themes/solarized/mutt-colors-solarized-dark-16.muttrc
# source $HOME/.mutt/themes/solarized/mutt-colors-solarized-light-16.muttrc
source $HOME/.mutt/themes/solarized/mutt-colors-solarized-dark-256.muttrc
# source $HOME/.mutt/themes/solarized/mutt-colors-solarized-light-256.muttrc
color sidebar_new yellow color234
